body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: linear-gradient(to bottom right, #F9FAFB, #D2D6DB);
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
}

.card {
  background-color: #FFFFFF;
  max-width: 340px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}
